{% extends 'base.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}

    <div class="overflow-x-auto">
        <table class="table w-max">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom de famille</th>
                <th>Survey ID</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for survey in surveys %}
            </tbody>
            <tr>
                <td>
                    <a href="{{ path('survey.show', {id: survey.id}) }}">{{ survey.patient.firstName }}</a>
                </td>
                <td>
                    <a href="{{ path('survey.show', {id: survey.id}) }}">{{ survey.patient.lastName }}</a>
                </td>
                <td>
                    <a class="text-green-400">{{ survey.id }}</a>
                </td>
                <td>
                    <a>{{ survey.createdAt | date('d-m-y') }}</a>
                </td>
                <td>
{#                    <a class="btn btn-ghost btn-sm" href="{{ path('patient.edit', {slug: patient.slug, id: patient.id}) }}">Editer</a>#}
                </td>
                <td>
{#                    <form action="{{ path('patient.delete', {slug: patient.slug, id: patient.id}) }}" method="post">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <button type="submit" class="btn hover:btn-error btn-sm">Supprimer</button>#}
{#                    </form>#}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
