{#{% extends 'base.html.twig' %}#}

{#{% block title %}New Survey{% endblock %}#}

{#{% block body %}#}
{#    <div class="container">#}
{#        <h1>Start Survey for {{ patient.FirstName }} {{ patient.LastName }}</h1>#}
{#        {{ form_start(form) }}#}
{#        {{ form_widget(form) }}#}
{#        <button type="submit" class="btn btn-success">Submit Survey</button>#}
{#        {{ form_end(form) }}#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block title %}New Survey{% endblock %}

{% block body %}
    <div class="container">
        <h1>Start Survey for {{ patient.firstName }} {{ patient.lastName }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form.patient) }}
        {% for question_form in form.question %}
            <fieldset>
                <legend>{{ question_form.vars.label }}</legend>
                {{ form_widget(question_form) }}
            </fieldset>
        {% endfor %}
        {{ form_widget(form.answer) }}
        <button type="submit" class="btn btn-success">Submit Survey</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
