{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}

    <div class="flex flex-col text-center">
        <a class="text-2xl">Questionnaire</a>
        {% set ageCategories = {
            0: 'nourrisson (0-6 mois)',
            1: 'jeune enfant (7-35 mois)',
            2: 'enfant (3-14 ans)',
            3: 'compagnon scolaire (3-14 ans)',
            4: 'adult/adolescent (11-65+ ans)'
        } %}
        <a class="text-xl">{{ ageCategories[ageCategory] ?? 'Unknown' }}</a>
    </div>

    <form action="{{ path('question.saveAnswers', {'ageCategory': ageCategory}) }}" method="POST">
        <label>
            <select class="select select-accent w-full max-w-xs" name="patientId">
                <option disabled selected>Choisir patient</option>
                {% for patient in patients %}
                    <option value="{{ patient.id }}">{{ patient.firstName }} {{ patient.lastName }}</option>
                {% endfor %}
            </select>
        </label>

        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Question</th>
                    <th>Réponse</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr class="hover:bg-accent">
                        <td>{{ question.questionNumber }}</td>
                        <td>{{ question.questionText }}</td>
                        <td class="flex flex-row justify-around">
                            {% for i in 0..5 %}
                                <div>
                                    <label for="answer{{ i }}_{{ question.id }}">{{ i }}</label>
                                    <input type="radio" id="answer{{ i }}_{{ question.id }}"
                                           name="answers[{{ question.id }}]"
                                           value="{{ i }}" {{ i == 0 ? 'checked' : '' }}/>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary w-full mt-4">Enregistrer</button>
        </div>
    </form>

{% endblock %}

