{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center">
    {{ form_start(form) }}
<div class="border-2">
    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.birthdate) }}

    {{ form_rest(form) }}
    <button type="submit" class="btn btn-secondary">Save</button>
</div>
    {{ form_end(form) }}
</div>

{% endblock %}
