{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
<style>

</style>

<div class="overflow-x-auto">
    <table class="table w-max">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom de famille</th>
                <th>Slug</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
            </tbody>
            <tr>
                <td>
                    <a href="{{ path('patient.show', {slug: patient.slug, id: patient.id}) }}">{{ patient.FirstName }}</a>
                </td>
                <td>
                    <a href="{{ path('patient.show', {slug: patient.slug, id: patient.id}) }}">{{ patient.LastName }}</a>
                </td>
                <td>
                    <a class="text-green-400">{{ patient.slug }}</a>
                </td>
                <td>
                    <a>{{ patient.createdAt | date('d-m-y') }}</a>
                </td>
                <td>
                    <a class="btn btn-ghost btn-sm" href="{{ path('patient.edit', {slug: patient.slug, id: patient.id}) }}">Editer</a>
                </td>
                <td>
{#                    <form action="{{ path('patient.delete', {slug: patient.slug, id: patient.id}) }}" method="post">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <button type="submit" class="btn hover:btn-error btn-sm">Supprimer</button>#}
{#                    </form>#}
                    <form action="{{ path('patient.delete', {slug: patient.slug, id: patient.id}) }}" method="post" onsubmit="return confirmDelete()">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn hover:btn-error btn-sm">Supprimer</button>
                    </form>
                </td>
{#                <td>#}
{#                    <a href="{{ path('survey.new', {patient_id: patient.id}) }}" class="btn btn-accent btn-sm">Evaluation</a>#}
{#                </td>#}
            </tr>
            {% endfor %}
        </table>
    <a href="{{ path('patient.create') }}" class="btn btn-secondary btn-sm">Nouveau patient</a>
</div>

    <script>
        function confirmDelete() {
            return confirm('Êtes-vous sûr de vouloir supprimer ce patient? Cette action est irréversible.');
        }
    </script>
{% endblock %}
